.icon-chip {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  border: none;
}
.icon-chip svg {
  height: 60%;
  width: 60%;
  fill: currentColor;
}
